<div class="announcements">
  <table class="table table-striped" >
    <thead class="thead">
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Announcement</th>
      <th scope="col">Posted on</th>
    </tr>
    </thead>
    <tbody *ngFor = "let announce of AnnouncementsToDisplay;" >
    <tr>
      <td> {{announce.topic}} </td>
      <td> {{announce.text }} </td>
      <td> {{announce.createdAt | date: 'd MMM' }} </td>
      <td>
        <button class="announcement-edit" (click)="EditAnnouncement(announce)">Edit</button>
        <button class="announcement-delete" (click)="DeleteAnnouncement(announce.topic)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>

  <div *ngIf="_authService.getRole()=='ROLE_ADMIN'" class="upload-announcement">
    <div  class="announcements_topic">
      <input [(ngModel)]="announcementData.topic" id="inputTopic" name="topic"
             placeholder="Enter the topic"
             type="text">
      <div class="validation-errors">
        <small *ngIf="topicExists">Announcement with this topic already exists.</small>
      </div>
      <div class="validation-errors">
        <small *ngIf="topicNotExists">Announcement with this topic does not exist. Cannot be updated. Try again.</small>
      </div>
    </div>

    <div class="announcements_text" >
     <textarea [(ngModel)]="announcementData.text" cols="138" id="inputMessage"
               placeholder=" Enter the announcement" rows="2" type="text"></textarea>

    </div>
    <div class="upload-btn">
      <button (click)="UploadAnnouncement()" class="btn btn-primary btn-lg"
              type="button">{{action}}</button>
    </div>
  </div>

</div>
<div class="links">

  <h2 style="text-align: center; padding-bottom: 15px; text-decoration: underline"> Check Out</h2>

  <a href="https://kahoot.com/" target="_blank"> <img alt="image" src="assets/images/kahoot.png"
                                                      style="padding-bottom: 15px"> </a>
  <a href="https://www.junioreinstein.nl/" target="_blank"> <img src="assets/images/junioreinstein.png"
                                                                 style="padding-bottom:15px"> </a>
  <a href="https://www.jufmelis.nl/" target="_blank"> <img src="assets/images/jufmelis.PNG"
                                                           style="padding-bottom: 15px; padding-left: 10px"> </a>
  <a href="http://www.onlinenederlands.nl/" target="_blank"> <img src="assets/images/onlineNederland.PNG"
                                                                  style="padding-bottom: 15px"> </a>
</div>

