
<head>
  <!-- Required meta tags -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="navbar-chapter.component.css">
  <title>bootstrap navbar dropdown animation on hover</title>
</head>
<body>
<div class="navbar-chapter">
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg my-navbar">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Leesvaardigheid</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/lees-theorie" routerLinkActive="active">Theorie</a>
              <a class="dropdown-item" routerLink="/lees-praktish" routerLinkActive="active">Praktish</a>
              <a class="dropdown-item" href="#">Karakterontwikkeling</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Spanning</a>
              <a class="dropdown-item" href="#">Boekenfolder</a>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Schrijfvaardigheid</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/schr-theorie" routerLinkActive="active">Theorie</a>
              <a class="dropdown-item"routerLink="/schr-praktish" routerLinkActive="active">Praktish</a>
              <a class="dropdown-item" href="#">Versregel</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Rijm</a>
              <a class="dropdown-item" href="#">Beeldspraak</a>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Spelling Algemeen</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/spell-theorie" routerLinkActive="active">Theorie</a>
              <a class="dropdown-item" routerLink="/spell-praktish" routerLinkActive="active">Praktish</a>
              <a class="dropdown-item" href="#">Tegenstelling</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Tijdsvolgrode</a>
              <a class="dropdown-item" href="#">Tekstdoel</a>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Formuleren</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Theorie</a>
              <a class="dropdown-item" href="#">Praktish</a>
              <a class="dropdown-item" href="#">Verslag schrijven</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Verwijswoorden</a>
              <a class="dropdown-item" href="#">Zinsbouw</a>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Werkwoordspelling</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Theorie</a>
              <a class="dropdown-item" href="#">Praktish</a>
              <a class="dropdown-item" href="#">Tegenstelling</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Voorbeelden</a>
              <a class="dropdown-item" href="#">Spreekwoord</a>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Spreken Kijeken Luisteren</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Theorie</a>
              <a class="dropdown-item" href="#">Praktish</a>
              <a class="dropdown-item" href="#">Informatieve spreekbeurt</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Informatie onthouden</a>
              <a class="dropdown-item" href="#">Instructie geven</a>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Grammatica</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Theorie</a>
              <a class="dropdown-item" href="#">Praktish</a>
              <a class="dropdown-item" href="#">Werkwoordelijk</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Bijvoeglijk naamwoord</a>
              <a class="dropdown-item" href="#">Voornaamwoord</a>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Literatuur</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Theorie</a>
              <a class="dropdown-item" href="#">Praktish</a>
              <a class="dropdown-item" href="#">Sterke werkwoorden</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Zwakke werkwoorden</a>
              <a class="dropdown-item" href="#">Voltooid deelwoord</a>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Argumenteren</a>
            <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Theorie</a>
              <a class="dropdown-item" href="#">Praktish</a>
              <a class="dropdown-item" href="#">Objectief en subjectief</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Nepnieuws</a>
              <a class="dropdown-item" href="#">Schrijftaal</a>

            </ul>
          </li>
        <!--  <li class="nav-item">
            <a class="nav-link"
               [routerLink]="['/register']" routerLinkActive="active"> Register</a>
          </li>
        -->
        </ul>
      </div>
    </nav>
  </div>

</div>
