<div class="announcements">
  <table class="table table-striped" >
    <thead class="thead">
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Announcement</th>
      <th scope="col">Posted on</th>
    </tr>
    </thead>
    <tbody *ngFor = "let annunce of AnnouncementsToDisplay;" >
    <tr>
      <td> {{annunce.topic}} </td>
      <td> {{annunce.text }} </td>
      <td> {{annunce.createdAt| date: 'longDate' }} </td>
    </tr>

    </tbody>
  </table>

  <div *ngIf="_authService.getRole()=='ROLE_ADMIN'" class="upload-announcement">
    <div  class="announcements_topic">
      <input [(ngModel)]="announcementData.topic" id="inputTopic" name="topic"
             placeholder="Enter the topic"
             type="text">
      <div class="validation-errors">
        <small *ngIf="topicExists">Announcement with this topic already exists.</small>
      </div>
    </div>

    <div class="announcements_text" >
     <textarea [(ngModel)]="announcementData.text" cols="138" id="inputMessage"
               placeholder=" Enter the announcement" rows="2" type="text"></textarea>
      <!--<div class="upload-success">
        <small *ngIf="successful">Announcement is uploaded.</small>
      </div>-->
    </div>
    <div class="upload-btn">
      <button (click)="UploadAnnouncement()" class="btn btn-primary btn-lg"
              type="button">Post</button>
    </div>
  </div>

</div>
<div class="links">

  <h2 style="text-align: center; padding-bottom: 15px; text-decoration: underline"> Check Out</h2>

  <a href="https://kahoot.com/" target="_blank"> <img alt="image" src="assets/images/kahoot.png"
                                                      style="padding-bottom: 15px"> </a>
  <a href="https://www.junioreinstein.nl/" target="_blank"> <img src="assets/images/junioreinstein.png"
                                                                 style="padding-bottom:15px"> </a>
  <a href="https://www.jufmelis.nl/" target="_blank"> <img src="assets/images/jufmelis.PNG"
                                                           style="padding-bottom: 15px; padding-left: 10px"> </a>
  <a href="http://www.onlinenederlands.nl/" target="_blank"> <img src="assets/images/onlineNederland.PNG"
                                                                  style="padding-bottom: 15px"> </a>
</div>

