<div class="announcements">
  <table class="table table-striped">
    <thead class="thead">
    <tr>
      <th scope="col">Announcements</th>


    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Using the most basic table markup, here’s how .table-based tables look in Bootstrap</td>
    </tr>
    <tr>

      <td>Using the most basic table markup, here’s how .table-based tables look in Bootstrap</td>
    </tr>
    <tr>
      <td>Using the most basic table markup, here’s how .table-based tables look in Bootstrap</td>
    </tr>
    </tbody>
  </table>

</div>
