.announcements{
  width: 70%;
  float: left;
}
.links{
  float: right;
  width:28%;
  background-color: #E4F2F2;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  min-height: 550px;

}

.upload-btn{
  float: right;
}

.announcements_topic{
  float: left;
}

.announcements_text{
  float: left;
}
