<div class="links">

  <h2 style="text-align: center; padding-bottom: 15px; text-decoration: underline"> Check Out</h2>

  <a href="https://kahoot.com/" target="_blank"> <img  alt="image" src="assets/images/kahoot.png" style="padding-bottom: 15px" > </a>
  <a  href="https://www.junioreinstein.nl/" target="_blank"> <img src="assets/images/junioreinstein.png" style="padding-bottom:15px">  </a>
  <a href="https://www.jufmelis.nl/" target="_blank"> <img src="assets/images/jufmelis.PNG" style="padding-bottom: 15px; padding-left: 10px"> </a>
  <a href="http://www.onlinenederlands.nl/" target="_blank" > <img src="assets/images/onlineNederland.PNG" style="padding-bottom: 15px"> </a>

</div>
