.body{
  width: 75%;
  padding: 30px;
  margin:auto;
  background-color: whitesmoke;
  min-height: 700px;
}


.picture{
  width:200px;
  height:300px;
  float: right;
  background-color: orange;
}

.email-section{
  margin: auto;
  border-style: solid;
  border-width: medium;
  border-color: orange;
  width: 35%;
}
