<div class="reset-password-form">

  <h1 style="text-align: center"> Reset Password</h1>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate >
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email"  name="email" ngModel required #email="ngModel"
             class="form-control"
             id="inputEmail1"
             placeholder="Enter email">
    </div>
    <button type="submit" [disabled]="f.invalid"
            class="btn btn-primary btn-lg">Reset Password<i class="fas fa-paper-plane"> </i></button>
  </form>
</div>
