<nav class="header">
  <div class="header">

        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="header-text">
              <span class="header-text-title">Learning Dutch with Mylène Nijhuis</span>
              <p class="header-text-subtitle">Dutch is very simple to learn but one must practice everyday and try using in their daily conversation</p>
            </div>
          </li>
          <li class="nav-item">
            <div class="header-profile">
              <a class="header-profile-register" [routerLink]="['/register']" routerLinkActive="active">
                Register
              </a>
              <img alt="image" src="assets/images/account_circle.png" style="width:35px;height:35px;">
              <a class="header-profile-Login" [routerLink]="['/login']" routerLinkActive="active">
                Login
              </a>
            </div>
          </li>
        </ul>

  </div>
</nav>




